body {
  background: bisque;
}

#container {
  box-sizing: border-box;
  display: grid;
  align-items: center;
  justify-content: center;
  background: red;
  width: 700px;
  height: 500px;
  margin: 300px auto;
  border: solid 4px black;
}

#primary-number,
#secondary-number {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  width: 150px;
  height: 125px;
  box-sizing: border-box;
}

#primary-number {
  border: solid 4px black;
}

#secondary-number {
  border: solid 4px black;
}

#operator,
#equal {
  font-weight: bold;
  font-size: 40px;
  padding: 5px;
}
input {
  border: solid 3px black;
  width: 150px;
  height: 30px;
  padding-left: 25px;
}

button {
  width: 100px;
  height: 35px;
  margin: 5px;
  background: green;
  color: white;
  font-size: 20px;
  border: 1px solid lightgrey;
}
