footer {
  /* background-color: rgb(0, 0, 0); */
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75),
    rgba(10, 14, 13, 0.849) 40%
  );
  height: auto;
  padding-top: 40px;
  margin-top: 30px;
  color: white;
  position: relative;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 35px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 90px;
}

.footer-content p {
  margin: 10px auto;
  line-height: 28px;
}

.footer-bottom {
  text-align: center;
  line-height: 50px;
  background-color: rgb(49, 48, 48);
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.socials a {
  color: white;
}

.socials a i {
  font-size: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

.socials li {
  margin: 0 10px;
}
