q* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  border-style: solid;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: stretch; */
  /* align-items: center; */
  height: 400px;
  /* align-content: center; */

  align-items: flex-end;
}

.flex_child {
  display: flex;
  border: 2px solid green;
  height: 30px;
  font-size: 30px;
  flex-basis: 350px;
  align-items: center;
  justify-content: center;
}

#yellow {
  background-color: yellow;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#purple {
  background-color: purple;
}
