.Foto img {
  /* position: relative; */
  margin-top: 10%;
  margin-left: 20%;
  height: 300px;
  box-sizing: border-box;
  /* overflow: auto; */
  /* content: ""; */
  clear: both;
  display: table;
}

.container {
  position: absolute;
  margin-top: 1%;
  margin-left: 50%;
  width: 280px;
}

button {
  position: absolute;
  border: 1px solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 50%;
  margin-top: 10%;
}
